/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
.vscode/settings.json
yarn.lock
bun.lockb
local.properties
/bin
/.direnv
.crates.toml
.crates2.json

/.tauri
/target
Cargo.lock
node_modules/
webview-dist
